<form class="form" action="" method="post">

<h1>Add a new recipe</h1>

<div class="form_option">
<label class="form_label" for="name">Name:</label>
<input type="text" name="name">
</div>

<div class="form_option">
<label class="form_label" for="prep_time">Preperation Time (In Minutes):</label>
<input type="number" name="prep_time">
</div>

<div class="form_option">
<label class="form_label" for="ingredients">Ingredients:</label>
<input type="text" name="ingredients">
</div>

<div class="form_option">
<label class="form_label" for="meat">Contains Meat:</label>
<input type="checkbox" value="true" name="meat">
</div>

<div class="form_option">
<label class="form_label" for="milk">Contains Milk:</label>
<input type="checkbox" value="true" name="milk">
</div>

<div class="form_option">
<label class="form_label" for="instructions">Instructions:</label>
<input type="text" name="instructions">
</div>

<div class="form_option">
<input type="submit" value="Add this recipe">
</div>








</form>