<div>There are <%= Recipebook.count %> recipes in your recipe book</div>

<ul>

    <% @recipes.each do |recipe| %>

    <li>
        <%= recipe.name %>
    </li>
<% end %>
</ul>

<div class="submit_btn">
<a class="submit_btn_text" href="/add_recipe_form">Add a new recipe</a>
</div>

