<div>There are <%= Recipebook.count %> recipes in your recipe book</div>

<!-- Display name of recipe and parve/dairy/meat -->
<ul>

    <% @recipes.each do |recipe| %>

    <li>
        <%= recipe.name %>
    </li>
<% end %>
</ul>

