<div>There are <%= Recipebook.count %> recipes in your recipe book</div>

<div class="grid-container_recipes">

    <div class = "grid-header">Recipe Name</div>

    <div class = "grid-header">Preparation Time (minutes)</div>
    
    <% @recipes.each do |recipe| %>

    <div class="grid-item item_recipe_name">
        <%= recipe.name %>
        <a href=<%="/edit_form/#{recipe.id}"%>>Edit</a>
    </div>

    <div class="grid-item">
        <%= recipe.prep_time %>
    </div>

<% end %>

<div class="submit_btn">
<a class="submit_btn_text" href="/add_recipe_form">Add a new recipe</a>
</div>