<div>There are <%= Recipebook.count %> recipes in your recipe book</div>


<div class="grid-container_recipes">

    <!-- <% @recipes.each do |recipe| %>

    <div class="grid-item">
        <%= recipe.name %>
    </div>

    <div class="grid-item>
        <%= recipe.prep_time %>
    </div>
<% end %> -->

    <div class="grid-item">
        Key Lime Pie
    </div>

    <div class="grid-item">
        30 minutes
    </div>

</div>
