.grid-container_recipes {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    row-gap: 5px;
    column-gap: 5px;
}

.grid-item {
    background-color: #ffcdb2;
    color: #6d6875;
}

.item_recipe_name {

}

.item_recipe_prep_time {
    
}